@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <a href="~/Authorization/AuthorizationPage">Увійти</a>
</div>
<footer>
    <h2>@ViewBag.T.Name</h2>
</footer>
<footer>
    <h2>@ViewBag.A.Name</h2>
</footer>
